<h2 style="font-size: 1.1em; margin-bottom: 20px;">We need some demo text to see the slide fox in action!</h2>
{{#times 20}}
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum explicabo facilis, ipsum itaque necessitatibus nisi
		nulla ut veniam veritatis voluptate. Blanditiis consectetur, error excepturi exercitationem facilis ipsum labore
		nobis odit.</p>
{{/times}}

{{#wrapWith "slide-fox" settings=this.settings}}
	<h2 style="font-size: 1.5em; margin-top: 20px;">Slide Fox</h2>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum explicabo
		facilis, ipsum itaque necessitatibus nisi
		nulla ut veniam veritatis voluptate. Blanditiis consectetur, error
		excepturi exercitationem facilis ipsum labore
		nobis odit.
	</p>
{{/wrapWith}}
